{% extends "page.html" %}

{% block body %}
  {% set page_class = "docs single" %}
{% endblock body %}

{% block content %}
<div class="wrap container" role="document">
  <div class="content">
    <div class="row flex-xl-nowrap">
      <div class="col-lg-5 col-xl-4 docs-sidebar"></div>
 	    {{ macros_toc::docs_toc(page=page) }}
      <main class="docs-content col-lg-11 col-xl-9">
        <h1>{{ page.title }}</h1>
        {{ page.content | safe }}
      </main>
    </div>
  </div>
</div>
{% endblock content %}
